<div class="mud-theme-dark py-5">
    <MudContainer Class="container-fluid">
        <AuthorizeView Roles="@roleAdmin">
            <Authorized>
                <MudText Align="Align.Left" Style="color: #EDE7F6;">
                    <MudIcon Icon="@Icons.Material.Filled.Settings" />
                    MEMU [Admin]
                </MudText>
            </Authorized>
            <NotAuthorized>
                <MudText Align="Align.Left" Style="color: #EDE7F6;">
                    <MudIcon Icon="@Icons.Material.Filled.Settings" Style="margin-right: 6px;" />
                    MEMU [User]
                </MudText>
            </NotAuthorized>
        </AuthorizeView>
    </MudContainer>
</div>

<div class="hover_color mud-theme-default py-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <MudText Color="Color.Dark">
            <MudIcon Class="hover_color_icon" Icon="@Icons.Material.Filled.Home" Style="margin-bottom: 5px; margin-right: 20px;" />
            Home
        </MudText>
    </NavLink>
</div>
<AuthorizeView>
    <Authorized>
        <div class="hover_color mud-theme-default py-3">
            <NavLink class="nav-link" href="@($"{SD.PAGE_SERVER}/role")" Match="NavLinkMatch.All">
                <MudText Color="Color.Dark">
                    <MudIcon Class="hover_color_icon" Icon="@Icons.Material.Filled.LockPerson" Style="margin-bottom: 5px; margin-right: 20px;" />
                    Role
                </MudText>
            </NavLink>
        </div>
        <div class="hover_color mud-theme-default py-3">
            <NavLink class="nav-link" href="@($"{SD.PAGE_SERVER}/category")" Match="NavLinkMatch.All">
                <MudText Color="Color.Dark">
                    <MudIcon Class="hover_color_icon" Icon="@Icons.Material.Filled.Add" Style="margin-bottom: 5px; margin-right: 20px;" />
                    Category
                </MudText>
            </NavLink>
        </div>
        <div class="hover_color mud-theme-default py-3">
            <NavLink class="nav-link" href="@($"{SD.PAGE_SERVER}/product")" Match="NavLinkMatch.All">
                <MudText Color="Color.Dark">
                    <MudIcon Class="hover_color_icon" Icon="@Icons.Material.Filled.Add" Style="margin-bottom: 5px; margin-right: 20px;" />
                    Product
                </MudText>
            </NavLink>
        </div>
        <div class="hover_color mud-theme-default py-3">
            <NavLink class="nav-link" href="@($"{SD.PAGE_SERVER}/orderlist")" Match="NavLinkMatch.All">
                <MudText Color="Color.Dark">
                    <MudIcon Class="hover_color_icon" Icon="@Icons.Material.Filled.Add" Style="margin-bottom: 5px; margin-right: 20px;" />
                    Orders
                </MudText>
            </NavLink>
        </div>
        <div class="hover_color mud-theme-default py-3">
            <NavLink class="nav-link" href="@($"{SD.PAGE_SERVER}/graph")" Match="NavLinkMatch.All">
                <MudText Color="Color.Dark">
                    <MudIcon Class="hover_color_icon" Icon="@Icons.Material.Filled.Add" Style="margin-bottom: 5px; margin-right: 20px;" />
                    Graph
                </MudText>
            </NavLink>
        </div>
        <div class="hover_color mud-theme-default py-3">
            <NavLink class="nav-link" href="Identity/Account/Logout" Match="NavLinkMatch.All">
                <MudText Color="Color.Dark">
                    <MudIcon Class="hover_color_icon" Icon="@Icons.Material.Filled.Logout" Style="margin-bottom: 5px; margin-right: 20px;" />
                    Logout
                </MudText>
            </NavLink>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="hover_color mud-theme-default py-3">
            <NavLink class="nav-link" href="Identity/Account/Register" Match="NavLinkMatch.All">
                <MudText Color="Color.Dark">
                    <MudIcon Class="hover_color_icon" Icon="@Icons.Material.Filled.Logout" Style="margin-bottom: 5px; margin-right: 20px;" />
                    Register
                </MudText>
            </NavLink>
        </div>
        <div class="hover_color mud-theme-default py-3">
            <NavLink class="nav-link" href="Identity/Account/Login" Match="NavLinkMatch.All">
                <MudText Color="Color.Dark">
                    <MudIcon Class="hover_color_icon" Icon="@Icons.Material.Filled.Logout" Style="margin-bottom: 5px; margin-right: 20px;" />
                    Login
                </MudText>
            </NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;
    private string roleAdmin = Tangy_Common.SD.Role_Admin;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
}
