<h3>_ChildComponent</h3>

<h2>ChildContent : @ChildContent</h2>
<h2>DangerChildContent = @DangerChildContent</h2>
<div>
    <button class="btn btn-success" onclick="@AddCount">+</button>
    <button disabled="@(!SubtractCount.HasDelegate)" class="btn btn-danger" onclick="@SubtractCount">-</button>
</div>
<_GrandChildComponent></_GrandChildComponent>

@code {
    [Parameter]
    public RenderFragment ChildContent { set; get; }
    [Parameter]
    public RenderFragment DangerChildContent { set; get; }
    [Parameter]
    public EventCallback AddCount { set; get; }
    [Parameter]
    public EventCallback SubtractCount { set; get; }
}